<div>
  <h1 class="welcome">Which technology <br/>is more interesting?</h1>
</div>
  <div class="btn-containers">
    <div class="btn" ng-click="$ctrl.selectOption(1)" ng-class="{'active' : $ctrl.check1}">
        <img src="/../../images/windows-azure.png" class="icon-technologies"/>
        <span class="btn_text btn_text_technologies">Azure</span>
    </div>
    <div class="btn" ng-click="$ctrl.selectOption(2)" ng-class="{'active' : $ctrl.check2}">
      <img src="/../../images/angular-icon.svg" class="icon-technologies"/>
      <span class="btn_text btn_text_technologies">Angular JS</span>
    </div>
    <div class="btn" ng-click="$ctrl.selectOption(3)" ng-class="{'active' : $ctrl.check3}">
      <img src="/../../images/node-js.png" class="icon-technologies"/>
      <span class="btn_text btn_text_technologies">node.JS</span>
    </div>
  </div>

